In [1]:
from bs4 import BeautifulSoup
import requests
import pandas as pd

all_hyperlinks = []

for page_num in range(1, 3):  #this way it goes thru both pages without having two diff links
    url = f"https://www.lse.ac.uk/student-life/accommodation/search-accommodation?collection=lse-accommodation&pageIndex={page_num}&sort=metaavailability"
    try:
        response = requests.get(url)
        response.raise_for_status()
        soup = BeautifulSoup(response.text, 'html.parser')
        accommodation_titles = soup.find_all('h2', class_='card__title')
        hyperlinks = []
        for title in accommodation_titles:
            hyperlink = title.find('a')['href']
            hyperlinks.append(hyperlink)
        all_hyperlinks.extend(hyperlinks)

    except Exception as e:
        print("An error occurred:", e)

print(all_hyperlinks)

['http://www.lse.ac.uk/student-life/accommodation/halls/college-hall/home.aspx', 'http://www.lse.ac.uk/student-life/accommodation/halls/international-hall/home.aspx', 'http://www.lse.ac.uk/student-life/accommodation/halls/butlers-wharf-residence/home.aspx', 'http://www.lse.ac.uk/student-life/accommodation/halls/bankside-house/home.aspx', 'http://www.lse.ac.uk/student-life/accommodation/halls/carr-saunders-hall/home.aspx', 'http://www.lse.ac.uk/student-life/accommodation/halls/connaught-hall/home.aspx', 'http://www.lse.ac.uk/student-life/accommodation/halls/high-holborn-residence/home.aspx', 'http://www.lse.ac.uk/student-life/accommodation/halls/urbanest-westminster-bridge/home.aspx', 'http://www.lse.ac.uk/student-life/accommodation/halls/lilian-knowles-house/home.aspx', 'http://www.lse.ac.uk/student-life/accommodation/halls/passfield-hall/home.aspx', 'http://www.lse.ac.uk/student-life/accommodation/halls/nutford-house/home.aspx', 'http://www.lse.ac.uk/student-life/accommodation/halls/rosebery-hall/home.aspx', 'http://www.lse.ac.uk/student-life/accommodation/halls/the-garden-halls/home.aspx', 'http://www.lse.ac.uk/student-life/accommodation/halls/sidney-webb-house/home.aspx']

In [2]:
accommodation_info = []
for hyperlink in all_hyperlinks:  

        response = requests.get(hyperlink)
        response.raise_for_status()
        soup = BeautifulSoup(response.text, 'html.parser')
        accomodation_title = soup.find('h1', class_='heroBanner__title')
        roomtype = soup.find_all('h2', class_='roomlist__title')
        room_texts = [room.text for room in roomtype]
        accommodation_info.append({
            'hyperlink': hyperlink,
            'accomodation_title': accomodation_title.text.strip(),
            'room_type': room_texts
        })
            
for info in accommodation_info:
    print("Hyperlink:", info['hyperlink'])
    print("Name:", info['accomodation_title'])
    print("Room Type:", info['room_type'])

Hyperlink: http://www.lse.ac.uk/student-life/accommodation/halls/college-hall/home.aspx
Name: College Hall
Room Type: ['Single room ', 'Single en suite room ', 'Double en suite room ']
Hyperlink: http://www.lse.ac.uk/student-life/accommodation/halls/international-hall/home.aspx
Name: International Hall
Room Type: ['Single room', 'Single studio', 'Double studio']
Hyperlink: http://www.lse.ac.uk/student-life/accommodation/halls/butlers-wharf-residence/home.aspx
Name: Butler's Wharf Residence
Room Type: ['Single room', 'Twin room', 'Double room']
Hyperlink: http://www.lse.ac.uk/student-life/accommodation/halls/bankside-house/home.aspx
Name: Bankside House
Room Type: ['Single room', 'Single en suite room', 'Twin en suite']
Hyperlink: http://www.lse.ac.uk/student-life/accommodation/halls/carr-saunders-hall/home.aspx
Name: Carr-Saunders Hall
Room Type: ['Single room', 'Single with queen bed', 'Twin room', 'Twin en suite room']
Hyperlink: http://www.lse.ac.uk/student-life/accommodation/halls/connaught-hall/home.aspx
Name: Connaught Hall
Room Type: ['Single room']
Hyperlink: http://www.lse.ac.uk/student-life/accommodation/halls/high-holborn-residence/home.aspx
Name: High Holborn Residence
Room Type: ['Single room', 'Single room with queen bed', 'Single en suite room', 'Twin en suite room']
Hyperlink: http://www.lse.ac.uk/student-life/accommodation/halls/urbanest-westminster-bridge/home.aspx
Name: urbanest Westminster Bridge
Room Type: ['Single room', 'Single en suite room', 'Twin en suite room', 'Single studio']
Hyperlink: http://www.lse.ac.uk/student-life/accommodation/halls/lilian-knowles-house/home.aspx
Name: Lilian Knowles House
Room Type: ['Single en suite room', 'Single studio', 'One-bed flat']
Hyperlink: http://www.lse.ac.uk/student-life/accommodation/halls/passfield-hall/home.aspx
Name: Passfield Hall
Room Type: ['Single room', 'Single en suite room', 'Twin room', 'Twin en suite room', 'Triple room']
Hyperlink: http://www.lse.ac.uk/student-life/accommodation/halls/nutford-house/home.aspx
Name: Nutford House
Room Type: ['Single room', 'Twin room']
Hyperlink: http://www.lse.ac.uk/student-life/accommodation/halls/rosebery-hall/home.aspx
Name: Rosebery Hall
Room Type: ['Single room', 'Twin room', 'Twin en suite room']
Hyperlink: http://www.lse.ac.uk/student-life/accommodation/halls/the-garden-halls/home.aspx
Name: The Garden Halls
Room Type: ['Single room ', 'Single en suite room', 'Single en suite room ', 'Single en suite room (Townhouse)']
Hyperlink: http://www.lse.ac.uk/student-life/accommodation/halls/sidney-webb-house/home.aspx
Name: Sidney Webb House
Room Type: ['Single en suite room', '3 bedroom flat', 'Double en suite room', 'Double studio', 'Queen studio']

In [3]:
room_df = pd.DataFrame(accommodation_info)
room_df_exploded = room_df.explode('room_type').reset_index(drop=True)
room_df_exploded

,hyperlink,accomodation_title,room_type
0,http://www.lse.ac.uk/student-life/accommodatio...,College Hall,Single room
1,http://www.lse.ac.uk/student-life/accommodatio...,College Hall,Single en suite room
2,http://www.lse.ac.uk/student-life/accommodatio...,College Hall,Double en suite room
3,http://www.lse.ac.uk/student-life/accommodatio...,International Hall,Single room
4,http://www.lse.ac.uk/student-life/accommodatio...,International Hall,Single studio
5,http://www.lse.ac.uk/student-life/accommodatio...,International Hall,Double studio
6,http://www.lse.ac.uk/student-life/accommodatio...,Butler's Wharf Residence,Single room
7,http://www.lse.ac.uk/student-life/accommodatio...,Butler's Wharf Residence,Twin room
8,http://www.lse.ac.uk/student-life/accommodatio...,Butler's Wharf Residence,Double room
9,http://www.lse.ac.uk/student-life/accommodatio...,Bankside House,Single room
10,http://www.lse.ac.uk/student-life/accommodatio...,Bankside House,Single en suite room
11,http://www.lse.ac.uk/student-life/accommodatio...,Bankside House,Twin en suite
12,http://www.lse.ac.uk/student-life/accommodatio...,Carr-Saunders Hall,Single room
13,http://www.lse.ac.uk/student-life/accommodatio...,Carr-Saunders Hall,Single with queen bed
14,http://www.lse.ac.uk/student-life/accommodatio...,Carr-Saunders Hall,Twin room
15,http://www.lse.ac.uk/student-life/accommodatio...,Carr-Saunders Hall,Twin en suite room
16,http://www.lse.ac.uk/student-life/accommodatio...,Connaught Hall,Single room
17,http://www.lse.ac.uk/student-life/accommodatio...,High Holborn Residence,Single room
18,http://www.lse.ac.uk/student-life/accommodatio...,High Holborn Residence,Single room with queen bed
19,http://www.lse.ac.uk/student-life/accommodatio...,High Holborn Residence,Single en suite room
20,http://www.lse.ac.uk/student-life/accommodatio...,High Holborn Residence,Twin en suite room
21,http://www.lse.ac.uk/student-life/accommodatio...,urbanest Westminster Bridge,Single room
22,http://www.lse.ac.uk/student-life/accommodatio...,urbanest Westminster Bridge,Single en suite room
23,http://www.lse.ac.uk/student-life/accommodatio...,urbanest Westminster Bridge,Twin en suite room
24,http://www.lse.ac.uk/student-life/accommodatio...,urbanest Westminster Bridge,Single studio
25,http://www.lse.ac.uk/student-life/accommodatio...,Lilian Knowles House,Single en suite room
26,http://www.lse.ac.uk/student-life/accommodatio...,Lilian Knowles House,Single studio
27,http://www.lse.ac.uk/student-life/accommodatio...,Lilian Knowles House,One-bed flat
28,http://www.lse.ac.uk/student-life/accommodatio...,Passfield Hall,Single room
29,http://www.lse.ac.uk/student-life/accommodatio...,Passfield Hall,Single en suite room
30,http://www.lse.ac.uk/student-life/accommodatio...,Passfield Hall,Twin room
31,http://www.lse.ac.uk/student-life/accommodatio...,Passfield Hall,Twin en suite room
32,http://www.lse.ac.uk/student-life/accommodatio...,Passfield Hall,Triple room
33,http://www.lse.ac.uk/student-life/accommodatio...,Nutford House,Single room
34,http://www.lse.ac.uk/student-life/accommodatio...,Nutford House,Twin room
35,http://www.lse.ac.uk/student-life/accommodatio...,Rosebery Hall,Single room
36,http://www.lse.ac.uk/student-life/accommodatio...,Rosebery Hall,Twin room
37,http://www.lse.ac.uk/student-life/accommodatio...,Rosebery Hall,Twin en suite room
38,http://www.lse.ac.uk/student-life/accommodatio...,The Garden Halls,Single room
39,http://www.lse.ac.uk/student-life/accommodatio...,The Garden Halls,Single en suite room
40,http://www.lse.ac.uk/student-life/accommodatio...,The Garden Halls,Single en suite room
41,http://www.lse.ac.uk/student-life/accommodatio...,The Garden Halls,Single en suite room (Townhouse)
42,http://www.lse.ac.uk/student-life/accommodatio...,Sidney Webb House,Single en suite room
43,http://www.lse.ac.uk/student-life/accommodatio...,Sidney Webb House,3 bedroom flat
44,http://www.lse.ac.uk/student-life/accommodatio...,Sidney Webb House,Double en suite room
45,http://www.lse.ac.uk/student-life/accommodatio...,Sidney Webb House,Double studio
46,http://www.lse.ac.uk/student-life/accommodatio...,Sidney Webb House,Queen studio

In [4]:
bathroom_info = []
for hyperlink in all_hyperlinks:  

        response = requests.get(hyperlink)
        response.raise_for_status()
        soup = BeautifulSoup(response.text, 'html.parser')
        bathroom = soup.find_all('p', class_="roomlist__position")
        bathroom_texts = [room.text for room in bathroom]
        bathroom_info.append({
            'hyperlink': hyperlink,
            'bathroom_types': bathroom_texts
        })

result = []
for item in bathroom_info:
    hyperlink = item['hyperlink']
    even_indexed_types = [item['bathroom_types'][i] for i in range(len(item['bathroom_types'])) if i % 2 == 0]
    result.append({'hyperlink': hyperlink, 'even_indexed_types': even_indexed_types})

for info in result:
    print("Hyperlink:", info['hyperlink'])
    print("Bathroom Type:", info['even_indexed_types'])

Hyperlink: http://www.lse.ac.uk/student-life/accommodation/halls/college-hall/home.aspx
Bathroom Type: ['Shared bathroom', 'Private bathroom', 'Private bathroom']
Hyperlink: http://www.lse.ac.uk/student-life/accommodation/halls/international-hall/home.aspx
Bathroom Type: ['Shared bathroom', 'Private bathroom', 'Private bathroom']
Hyperlink: http://www.lse.ac.uk/student-life/accommodation/halls/butlers-wharf-residence/home.aspx
Bathroom Type: ['Shared bathroom', 'Shared bathroom', 'Shared bathroom']
Hyperlink: http://www.lse.ac.uk/student-life/accommodation/halls/bankside-house/home.aspx
Bathroom Type: ['Shared bathroom', 'Private bathroom', 'Private bathroom']
Hyperlink: http://www.lse.ac.uk/student-life/accommodation/halls/carr-saunders-hall/home.aspx
Bathroom Type: ['Shared bathroom', 'Shared bathroom', 'Shared bathroom', 'Private bathroom']
Hyperlink: http://www.lse.ac.uk/student-life/accommodation/halls/connaught-hall/home.aspx
Bathroom Type: ['Shared bathroom']
Hyperlink: http://www.lse.ac.uk/student-life/accommodation/halls/high-holborn-residence/home.aspx
Bathroom Type: ['Shared bathroom', 'Shared bathroom', 'Private bathroom', 'Private bathroom']
Hyperlink: http://www.lse.ac.uk/student-life/accommodation/halls/urbanest-westminster-bridge/home.aspx
Bathroom Type: ['Shared bathroom', 'Private bathroom', 'Private bathroom', 'Private bathoom']
Hyperlink: http://www.lse.ac.uk/student-life/accommodation/halls/lilian-knowles-house/home.aspx
Bathroom Type: ['Private bathroom', 'Private bathroom', 'Private bathroom']
Hyperlink: http://www.lse.ac.uk/student-life/accommodation/halls/passfield-hall/home.aspx
Bathroom Type: ['Shared bathroom', 'Private bathroom', 'Shared bathroom', 'Private bathroom', 'Shared bathroom']
Hyperlink: http://www.lse.ac.uk/student-life/accommodation/halls/nutford-house/home.aspx
Bathroom Type: ['Shared bathroom', 'Shared bathroom']
Hyperlink: http://www.lse.ac.uk/student-life/accommodation/halls/rosebery-hall/home.aspx
Bathroom Type: ['Shared bathroom', 'Shared bathroom', 'Private bathroom']
Hyperlink: http://www.lse.ac.uk/student-life/accommodation/halls/the-garden-halls/home.aspx
Bathroom Type: ['Shared bathroom', 'Private bathroom', 'Private bathroom', 'Private bathroom']
Hyperlink: http://www.lse.ac.uk/student-life/accommodation/halls/sidney-webb-house/home.aspx
Bathroom Type: ['Private bathroom', 'Shared bathroom and kitchen', 'Private bathroom', 'Private bathroom', 'Private bathroom']

In [5]:
bathroom_df = pd.DataFrame(result)
bathroom_df_exploded = bathroom_df.explode('even_indexed_types').reset_index(drop=True)
bathroom_df_exploded

,hyperlink,even_indexed_types
0,http://www.lse.ac.uk/student-life/accommodatio...,Shared bathroom
1,http://www.lse.ac.uk/student-life/accommodatio...,Private bathroom
2,http://www.lse.ac.uk/student-life/accommodatio...,Private bathroom
3,http://www.lse.ac.uk/student-life/accommodatio...,Shared bathroom
4,http://www.lse.ac.uk/student-life/accommodatio...,Private bathroom
5,http://www.lse.ac.uk/student-life/accommodatio...,Private bathroom
6,http://www.lse.ac.uk/student-life/accommodatio...,Shared bathroom
7,http://www.lse.ac.uk/student-life/accommodatio...,Shared bathroom
8,http://www.lse.ac.uk/student-life/accommodatio...,Shared bathroom
9,http://www.lse.ac.uk/student-life/accommodatio...,Shared bathroom
10,http://www.lse.ac.uk/student-life/accommodatio...,Private bathroom
11,http://www.lse.ac.uk/student-life/accommodatio...,Private bathroom
12,http://www.lse.ac.uk/student-life/accommodatio...,Shared bathroom
13,http://www.lse.ac.uk/student-life/accommodatio...,Shared bathroom
14,http://www.lse.ac.uk/student-life/accommodatio...,Shared bathroom
15,http://www.lse.ac.uk/student-life/accommodatio...,Private bathroom
16,http://www.lse.ac.uk/student-life/accommodatio...,Shared bathroom
17,http://www.lse.ac.uk/student-life/accommodatio...,Shared bathroom
18,http://www.lse.ac.uk/student-life/accommodatio...,Shared bathroom
19,http://www.lse.ac.uk/student-life/accommodatio...,Private bathroom
20,http://www.lse.ac.uk/student-life/accommodatio...,Private bathroom
21,http://www.lse.ac.uk/student-life/accommodatio...,Shared bathroom
22,http://www.lse.ac.uk/student-life/accommodatio...,Private bathroom
23,http://www.lse.ac.uk/student-life/accommodatio...,Private bathroom
24,http://www.lse.ac.uk/student-life/accommodatio...,Private bathoom
25,http://www.lse.ac.uk/student-life/accommodatio...,Private bathroom
26,http://www.lse.ac.uk/student-life/accommodatio...,Private bathroom
27,http://www.lse.ac.uk/student-life/accommodatio...,Private bathroom
28,http://www.lse.ac.uk/student-life/accommodatio...,Shared bathroom
29,http://www.lse.ac.uk/student-life/accommodatio...,Private bathroom
30,http://www.lse.ac.uk/student-life/accommodatio...,Shared bathroom
31,http://www.lse.ac.uk/student-life/accommodatio...,Private bathroom
32,http://www.lse.ac.uk/student-life/accommodatio...,Shared bathroom
33,http://www.lse.ac.uk/student-life/accommodatio...,Shared bathroom
34,http://www.lse.ac.uk/student-life/accommodatio...,Shared bathroom
35,http://www.lse.ac.uk/student-life/accommodatio...,Shared bathroom
36,http://www.lse.ac.uk/student-life/accommodatio...,Shared bathroom
37,http://www.lse.ac.uk/student-life/accommodatio...,Private bathroom
38,http://www.lse.ac.uk/student-life/accommodatio...,Shared bathroom
39,http://www.lse.ac.uk/student-life/accommodatio...,Private bathroom
40,http://www.lse.ac.uk/student-life/accommodatio...,Private bathroom
41,http://www.lse.ac.uk/student-life/accommodatio...,Private bathroom
42,http://www.lse.ac.uk/student-life/accommodatio...,Private bathroom
43,http://www.lse.ac.uk/student-life/accommodatio...,Shared bathroom and kitchen
44,http://www.lse.ac.uk/student-life/accommodatio...,Private bathroom
45,http://www.lse.ac.uk/student-life/accommodatio...,Private bathroom
46,http://www.lse.ac.uk/student-life/accommodatio...,Private bathroom

In [6]:
combined_df = pd.merge(room_df_exploded, bathroom_df_exploded, how='left', left_index=True, right_index=True)
combined_df.drop(['hyperlink_x', 'hyperlink_y'], axis=1, inplace=True)
combined_df['even_indexed_types']=combined_df['even_indexed_types'].str.replace(' and kitchen','')
combined_df

,accomodation_title,room_type,even_indexed_types
0,College Hall,Single room,Shared bathroom
1,College Hall,Single en suite room,Private bathroom
2,College Hall,Double en suite room,Private bathroom
3,International Hall,Single room,Shared bathroom
4,International Hall,Single studio,Private bathroom
5,International Hall,Double studio,Private bathroom
6,Butler's Wharf Residence,Single room,Shared bathroom
7,Butler's Wharf Residence,Twin room,Shared bathroom
8,Butler's Wharf Residence,Double room,Shared bathroom
9,Bankside House,Single room,Shared bathroom
10,Bankside House,Single en suite room,Private bathroom
11,Bankside House,Twin en suite,Private bathroom
12,Carr-Saunders Hall,Single room,Shared bathroom
13,Carr-Saunders Hall,Single with queen bed,Shared bathroom
14,Carr-Saunders Hall,Twin room,Shared bathroom
15,Carr-Saunders Hall,Twin en suite room,Private bathroom
16,Connaught Hall,Single room,Shared bathroom
17,High Holborn Residence,Single room,Shared bathroom
18,High Holborn Residence,Single room with queen bed,Shared bathroom
19,High Holborn Residence,Single en suite room,Private bathroom
20,High Holborn Residence,Twin en suite room,Private bathroom
21,urbanest Westminster Bridge,Single room,Shared bathroom
22,urbanest Westminster Bridge,Single en suite room,Private bathroom
23,urbanest Westminster Bridge,Twin en suite room,Private bathroom
24,urbanest Westminster Bridge,Single studio,Private bathoom
25,Lilian Knowles House,Single en suite room,Private bathroom
26,Lilian Knowles House,Single studio,Private bathroom
27,Lilian Knowles House,One-bed flat,Private bathroom
28,Passfield Hall,Single room,Shared bathroom
29,Passfield Hall,Single en suite room,Private bathroom
30,Passfield Hall,Twin room,Shared bathroom
31,Passfield Hall,Twin en suite room,Private bathroom
32,Passfield Hall,Triple room,Shared bathroom
33,Nutford House,Single room,Shared bathroom
34,Nutford House,Twin room,Shared bathroom
35,Rosebery Hall,Single room,Shared bathroom
36,Rosebery Hall,Twin room,Shared bathroom
37,Rosebery Hall,Twin en suite room,Private bathroom
38,The Garden Halls,Single room,Shared bathroom
39,The Garden Halls,Single en suite room,Private bathroom
40,The Garden Halls,Single en suite room,Private bathroom
41,The Garden Halls,Single en suite room (Townhouse),Private bathroom
42,Sidney Webb House,Single en suite room,Private bathroom
43,Sidney Webb House,3 bedroom flat,Shared bathroom
44,Sidney Webb House,Double en suite room,Private bathroom
45,Sidney Webb House,Double studio,Private bathroom
46,Sidney Webb House,Queen studio,Private bathroom

In [7]:
price_info = []
for hyperlink in all_hyperlinks:  

        response = requests.get(hyperlink)
        response.raise_for_status()
        soup = BeautifulSoup(response.text, 'html.parser')
        accomodation_title = soup.find('h1', class_='heroBanner__title')
        room_divs = soup.find_all('div', class_='roomataGlance')
        for room_div in room_divs:
            figure_span = room_div.find(class_='roomataGlance__figure')
            figure_text = figure_span.get_text(strip=True)
            price_info.append({'price': figure_text,
                              'accomodation_title': accomodation_title.text.strip()})
            
for info in price_info:
    print("Name:", info['accomodation_title'])
    print("Price:", info['price'])

Name: College Hall
Price: 289.73p/wk
Name: College Hall
Price: 332.43p/wk
Name: College Hall
Price: 392.63p/wk
Name: International Hall
Price: 266.28p/wk
Name: International Hall
Price: 294.98

-£301.28p/wk
Name: International Hall
Price: 321.93p/wk
Name: Butler's Wharf Residence
Price: 194.60

-£267.40p/wk
Name: Butler's Wharf Residence
Price: 127.40

-£153.65p/wk
Name: Butler's Wharf Residence
Price: 278.95p/wk
Name: Bankside House
Price: 259.70p/wk
Name: Bankside House
Price: 277.20

-£297.15p/wk
Name: Bankside House
Price: 167.65

-£186.20p/wk
Name: Carr-Saunders Hall
Price: 257.25p/wk
Name: Carr-Saunders Hall
Price: 259.35p/wk
Name: Carr-Saunders Hall
Price: 173.25p/wk
Name: Carr-Saunders Hall
Price: 185.50p/wk
Name: Connaught Hall
Price: 273.63p/wk
Name: High Holborn Residence
Price: 317.80p/wk
Name: High Holborn Residence
Price: 333.90p/wk
Name: High Holborn Residence
Price: 333.20p/wk
Name: High Holborn Residence
Price: 184.45p/wk
Name: urbanest Westminster Bridge
Price: 285.23

-£310.76p/wk
Name: urbanest Westminster Bridge
Price: 286.90

-£346.90p/wk
Name: urbanest Westminster Bridge
Price: 227.09

-£240.22p/wk
Name: urbanest Westminster Bridge
Price: 420.03

-£458.32p/wk
Name: Lilian Knowles House
Price: 198.86

-£242.35p/wk
Name: Lilian Knowles House
Price: 263.59

-£303.15p/wk
Name: Lilian Knowles House
Price: 303.15

-£336.43p/wk
Name: Passfield Hall
Price: 231.00

-£274.75p/wk
Name: Passfield Hall
Price: 287.35p/wk
Name: Passfield Hall
Price: 158.90

-£166.60p/wk
Name: Passfield Hall
Price: 182.70p/wk
Name: Passfield Hall
Price: 129.85

-£140.70p/wk
Name: Nutford House
Price: 236.88

-£263.48p/wk
Name: Nutford House
Price: 183.40p/wk
Name: Rosebery Hall
Price: 247.80

-£263.90p/wk
Name: Rosebery Hall
Price: 168.70p/wk
Name: Rosebery Hall
Price: 185.50p/wk
Name: The Garden Halls
Price: 269.64

-£288.75p/wk
Name: The Garden Halls
Price: 358.61p/wk
Name: The Garden Halls
Price: 371.70

-£374.08p/wk
Name: The Garden Halls
Price: 314.16p/wk
Name: Sidney Webb House
Price: 221.90

-£244.65p/wk
Name: Sidney Webb House
Price: 277.90p/wk
Name: Sidney Webb House
Price: 290.85p/wk
Name: Sidney Webb House
Price: 336.70p/wk
Name: Sidney Webb House
Price: 331.45p/wk

In [8]:
price_df = pd.DataFrame(price_info)
price_df

                     price           accomodation_title
0               289.73p/wk                 College Hall
1               332.43p/wk                 College Hall
2               392.63p/wk                 College Hall
3               266.28p/wk           International Hall
4   294.98\n\n-£301.28p/wk           International Hall
5               321.93p/wk           International Hall
6   194.60\n\n-£267.40p/wk     Butler's Wharf Residence
7   127.40\n\n-£153.65p/wk     Butler's Wharf Residence
8               278.95p/wk     Butler's Wharf Residence
9               259.70p/wk               Bankside House
10  277.20\n\n-£297.15p/wk               Bankside House
11  167.65\n\n-£186.20p/wk               Bankside House
12              257.25p/wk           Carr-Saunders Hall
13              259.35p/wk           Carr-Saunders Hall
14              173.25p/wk           Carr-Saunders Hall
15              185.50p/wk           Carr-Saunders Hall
16              273.63p/wk               Connaught Hall
17              317.80p/wk       High Holborn Residence
18              333.90p/wk       High Holborn Residence
19              333.20p/wk       High Holborn Residence
20              184.45p/wk       High Holborn Residence
21  285.23\n\n-£310.76p/wk  urbanest Westminster Bridge
22  286.90\n\n-£346.90p/wk  urbanest Westminster Bridge
23  227.09\n\n-£240.22p/wk  urbanest Westminster Bridge
24  420.03\n\n-£458.32p/wk  urbanest Westminster Bridge
25  198.86\n\n-£242.35p/wk         Lilian Knowles House
26  263.59\n\n-£303.15p/wk         Lilian Knowles House
27  303.15\n\n-£336.43p/wk         Lilian Knowles House
28  231.00\n\n-£274.75p/wk               Passfield Hall
29              287.35p/wk               Passfield Hall
30  158.90\n\n-£166.60p/wk               Passfield Hall
31              182.70p/wk               Passfield Hall
32  129.85\n\n-£140.70p/wk               Passfield Hall
33  236.88\n\n-£263.48p/wk                Nutford House
34              183.40p/wk                Nutford House
35  247.80\n\n-£263.90p/wk                Rosebery Hall
36              168.70p/wk                Rosebery Hall
37              185.50p/wk                Rosebery Hall
38  269.64\n\n-£288.75p/wk             The Garden Halls
39              358.61p/wk             The Garden Halls
40  371.70\n\n-£374.08p/wk             The Garden Halls
41              314.16p/wk             The Garden Halls
42  221.90\n\n-£244.65p/wk            Sidney Webb House
43              277.90p/wk            Sidney Webb House
44              290.85p/wk            Sidney Webb House
45              336.70p/wk            Sidney Webb House
46              331.45p/wk            Sidney Webb House

In [9]:
combined_df1=pd.merge(combined_df, price_df, how='left', left_index=True, right_index=True)
combined_df1['price'] = combined_df1['price'].str.replace('p/wk', '')
combined_df1['price'] = combined_df1['price'].str.replace('\n\n', '').str.replace('£', '')
combined_df1 = combined_df1.T.drop_duplicates().T
combined_df1

,accomodation_title_x,room_type,even_indexed_types,price
0,College Hall,Single room,Shared bathroom,289.73
1,College Hall,Single en suite room,Private bathroom,332.43
2,College Hall,Double en suite room,Private bathroom,392.63
3,International Hall,Single room,Shared bathroom,266.28
4,International Hall,Single studio,Private bathroom,294.98-301.28
5,International Hall,Double studio,Private bathroom,321.93
6,Butler's Wharf Residence,Single room,Shared bathroom,194.60-267.40
7,Butler's Wharf Residence,Twin room,Shared bathroom,127.40-153.65
8,Butler's Wharf Residence,Double room,Shared bathroom,278.95
9,Bankside House,Single room,Shared bathroom,259.70
10,Bankside House,Single en suite room,Private bathroom,277.20-297.15
11,Bankside House,Twin en suite,Private bathroom,167.65-186.20
12,Carr-Saunders Hall,Single room,Shared bathroom,257.25
13,Carr-Saunders Hall,Single with queen bed,Shared bathroom,259.35
14,Carr-Saunders Hall,Twin room,Shared bathroom,173.25
15,Carr-Saunders Hall,Twin en suite room,Private bathroom,185.50
16,Connaught Hall,Single room,Shared bathroom,273.63
17,High Holborn Residence,Single room,Shared bathroom,317.80
18,High Holborn Residence,Single room with queen bed,Shared bathroom,333.90
19,High Holborn Residence,Single en suite room,Private bathroom,333.20
20,High Holborn Residence,Twin en suite room,Private bathroom,184.45
21,urbanest Westminster Bridge,Single room,Shared bathroom,285.23-310.76
22,urbanest Westminster Bridge,Single en suite room,Private bathroom,286.90-346.90
23,urbanest Westminster Bridge,Twin en suite room,Private bathroom,227.09-240.22
24,urbanest Westminster Bridge,Single studio,Private bathoom,420.03-458.32
25,Lilian Knowles House,Single en suite room,Private bathroom,198.86-242.35
26,Lilian Knowles House,Single studio,Private bathroom,263.59-303.15
27,Lilian Knowles House,One-bed flat,Private bathroom,303.15-336.43
28,Passfield Hall,Single room,Shared bathroom,231.00-274.75
29,Passfield Hall,Single en suite room,Private bathroom,287.35
30,Passfield Hall,Twin room,Shared bathroom,158.90-166.60
31,Passfield Hall,Twin en suite room,Private bathroom,182.70
32,Passfield Hall,Triple room,Shared bathroom,129.85-140.70
33,Nutford House,Single room,Shared bathroom,236.88-263.48
34,Nutford House,Twin room,Shared bathroom,183.40
35,Rosebery Hall,Single room,Shared bathroom,247.80-263.90
36,Rosebery Hall,Twin room,Shared bathroom,168.70
37,Rosebery Hall,Twin en suite room,Private bathroom,185.50
38,The Garden Halls,Single room,Shared bathroom,269.64-288.75
39,The Garden Halls,Single en suite room,Private bathroom,358.61
40,The Garden Halls,Single en suite room,Private bathroom,371.70-374.08
41,The Garden Halls,Single en suite room (Townhouse),Private bathroom,314.16
42,Sidney Webb House,Single en suite room,Private bathroom,221.90-244.65
43,Sidney Webb House,3 bedroom flat,Shared bathroom,277.90
44,Sidney Webb House,Double en suite room,Private bathroom,290.85
45,Sidney Webb House,Double studio,Private bathroom,336.70
46,Sidney Webb House,Queen studio,Private bathroom,331.45

In [10]:
contract_costs=[]
for hyperlink in all_hyperlinks:  

        response = requests.get(hyperlink)
        response.raise_for_status()
        soup = BeautifulSoup(response.text, 'html.parser')
        accomodation_title = soup.find('h1', class_='heroBanner__title')
        paragraphs = soup.find_all('p')
        for p in paragraphs:
            if "Contract cost" in p.get_text():
                contract_cost = p.get_text().split('&pound;')[-1].strip()
                contract_costs.append({'cost': contract_cost,
                                       'accomodation_title': accomodation_title.text.strip()})
for info in contract_costs:
    print("Name:", info['accomodation_title'])
    print("Cost:", info['cost'])

Name: College Hall
Cost: Contract cost: £11,547.81Contract length: 40 weeksSize approx: 12m²
Name: College Hall
Cost: Contract cost: £13,249.71Contract length: 40 weeksSize approx: 14m²
Name: College Hall
Cost: Contract cost: £15,649.11Contract length: 40 weeksSize approx: 17m²
Name: International Hall
Cost: Contract cost: £10,613.16Contract length: 40 weeksSize approx: 8.95m²
Name: International Hall
Cost: Contract cost: £11,757.06 to £12,008.16Contract length: 40 weeksSize approx: 16.4m² to 18.9m²
Name: International Hall
Cost: Contract cost: £12,831.21Contract length: 40 weeksSize approx: 18.9m²
Name: Butler's Wharf Residence
Cost: Contract cost: £9,702.20 to £13,331.80Contract length: 50 weeksSize approx: 10m²
Name: Butler's Wharf Residence
Cost: Contract cost: £6,351.80 to £7,660.55Contract length: 50 weeksSize approx: 14m²
Name: Butler's Wharf Residence
Cost: Contract cost: £13,907.65Contract length: 50 weeksSize approx: 15m²
Name: Bankside House
Cost: Contract cost: £10,091.20Contract length: 39 weeksSize approx: 12.5m²
Name: Bankside House
Cost: Contract cost: £10,771.20 to £11,546.40Contract length: 39 weeksSize approx: 15.66m² to 17.11m²
Name: Bankside House
Cost: Contract cost: £6,514.40 to £7,235.20Contract length: 39 weeksSize approx: 23.55m² to 25.32m²
Name: Carr-Saunders Hall
Cost: Contract cost: £7,827.75Contract length: 31 weeksSize approx: 9m²
Name: Carr-Saunders Hall
Cost: Contract cost: £7,891.65Contract length: 31 weeksSize approx: 9m²
Name: Carr-Saunders Hall
Cost: Contract cost: £5,271.75Contract length: 31 weeksSize approx: 20m²
Name: Carr-Saunders Hall
Cost: Contract cost: £5,644.50Contract length: 31 weeksSize approx: 20m²
Name: Connaught Hall
Cost: Contract cost: £10,906.11Contract length: 40 weeksSize approx: 9m²
Name: High Holborn Residence
Cost: Contract cost: £12,348.80Contract length: 39 weeksSize approx: 9.5m² to 12.6m²
Name: High Holborn Residence
Cost: Contract cost: £12,974.40Contract length: 39 weeksSize approx: 9.5m² to 12.6m²
Name: High Holborn Residence
Cost: Contract cost: £12,947.20Contract length: 39 weeksSize approx: 9.5m² to 12.6m²
Name: High Holborn Residence
Cost: Contract cost: £7,167.20Contract length: 39 weeksSize approx: 16m²
Name: urbanest Westminster Bridge
Cost: Contract cost39 weeks: £11,123.97 to £12,119.6450 weeks: £14,412.50
Name: urbanest Westminster Bridge
Cost: Contract cost39 weeks: £12,224.55 to £12,722.5850 weeks: £14,345.00 to £17,345.00
Name: urbanest Westminster Bridge
Cost: Contract cost39 weeks: £8,856.51 to £9,368.5850 weeks: £11,808.50
Name: urbanest Westminster Bridge
Cost: Contract cost50 weeks: £21,001.50 to £22,916.00Size approx: 22.1m²
Name: Lilian Knowles House
Cost: Contract cost: 39 weeks: £7,727.13 to £9,417.0350 weeks: £9,914.59.47 to £12,082.88Size approx: 8m² to 14m
Name: Lilian Knowles House
Cost: Contract cost: 50 weeks: £13,141.84 to £15,114.19Size approx: 12m² to 22m2
Name: Lilian Knowles House
Cost: Contract cost: £15,114.19 to £16,773.44Size approx: 21m² to 27m²
Name: Passfield Hall
Cost: Contract cost: £7,029.00 to £8,360.25Contract length: 31 weeksSize approx: 6.2m² to 15.3m²
Name: Passfield Hall
Cost: Contract cost: £8,743.65Contract length: 31 weeksSize approx: 9m²
Name: Passfield Hall
Cost: Contract cost: £4,835.10 to £5,069.40Contract length: 31 weeksSize approx: 17.6m² to 23m²
Name: Passfield Hall
Cost: Contract cost: £5,559.30Contract length: 31 weeksSize approx: 17.6m² to 23m²
Name: Passfield Hall
Cost: Contract cost : £3,951.15 to £4,281.30Contract length: 31 weeksSize approx: 31 m²
Name: Nutford House
Cost: Contract cost: £9,441.36 to £10,501.56Contract length: 40 weeksSize approx: 6.4m²
Name: Rosebery Hall
Cost: Contract cost:  Rosebery Wing: £9,996.00Myddelton Wing: £9,628.80 to £10,254.40
Name: Rosebery Hall
Cost: Contract cost: £6,555.20Contract lenght: 39 weeks
Name: Rosebery Hall
Cost: Contract cost: £7,208.00Contract length: 39 weeks
Name: The Garden Halls
Cost: Contract cost: £10,747.08 to £11,508.75Contract length: 40 weeksSize approx: 10m²
Name: The Garden Halls
Cost: Contract cost: £14,293.17Contract length: 40 weeksSize approx: 12.60m² to 15.50m²
Name: The Garden Halls
Cost: Contract cost: £14,814.90 to £14,909.76Contract length: 40 weeksSize approx: 13m² to 15m²
Name: The Garden Halls
Cost: Contract cost: £12,521.52Contract length: 40 weeksSize approx: 9.5m²
Name: Sidney Webb House
Cost: Contract cost: £8,844.30 to £9,751.05Contract length: 40 weeksSize approx: 10.2m² to 12.1m²
Name: Sidney Webb House
Cost: Contract cost p/room: £11,076.30
Name: Sidney Webb House
Cost: Contract cost: £11,592.45Contract length: 40 weeksSize approx: 20.1m²
Name: Sidney Webb House
Cost: Contract cost: £13,419.90Contract length: 40 weeksSize approx: 21.3m²
Name: Sidney Webb House
Cost: Contract cost: £13,210.65

In [11]:
contract = pd.DataFrame(contract_costs)
data1 = contract['cost'].str.extract(r'Contract cost(.*?)Contract')
data2 = contract['cost'].str.extract(r'Contract length: (.*?)Size')
data3 = contract['cost'].str.extract(r'Size approx: (.*)')

contract['Contract cost'] = data1[0]
contract['Contract length'] = data2[0]
contract['Size approx'] = data3[0]

contract['Contract cost'] = contract['Contract cost'].str.replace(':', '').str.replace('£', '').str.replace('to', '-')
contract['Size approx'] = contract['Size approx'].str.replace('m²', '').str.replace('to', '-').str.replace('m2', '').str.replace('m', '')
contract['Contract length'] = contract['Contract length'].str.replace(' weeks', '')

contract.drop(columns=['cost'], inplace=True)

contract['Contract cost'][45] = '13,210.65'
contract['Size approx'][45] = '22.5'

contract['Contract cost'][42] = '11,076.30'
contract['Size approx'][42] = '12.1'

contract['Size approx'][34] = '10.5 - 11'
contract['Size approx'][35] = '15.5 - 17.5'
contract['Size approx'][36] = '17.5'
contract['Contract cost'][34] = '9,628.80 - 10,254.40'

contract['Size approx'][21] = '8.5'
contract['Size approx'][22] = '13.4'
contract['Size approx'][23] = '25.3'

contract['Contract length'][34] = '39'
contract['Contract length'][35] = '39'
contract['Contract length'][36] = '39'

contract['Contract length'][42] = '40'
contract['Contract length'][45] = '40'

new_row = {'accomodation_title': 'Nutford House', 'Contract cost': '7,309.80', 'Contract length': '40','Size approx': '6.4'}
index_location = 34
contract=pd.concat([contract.iloc[:index_location], pd.DataFrame([new_row]), contract.iloc[index_location:]]).reset_index(drop=True)

contract

,accomodation_title,Contract cost,Contract length,Size approx
0,College Hall,"11,547.81",40,12
1,College Hall,"13,249.71",40,14
2,College Hall,"15,649.11",40,17
3,International Hall,"10,613.16",40,8.95
4,International Hall,"11,757.06 - 12,008.16",40,16.4 - 18.9
5,International Hall,"12,831.21",40,18.9
6,Butler's Wharf Residence,"9,702.20 - 13,331.80",50,10
7,Butler's Wharf Residence,"6,351.80 - 7,660.55",50,14
8,Butler's Wharf Residence,"13,907.65",50,15
9,Bankside House,"10,091.20",39,12.5
10,Bankside House,"10,771.20 - 11,546.40",39,15.66 - 17.11
11,Bankside House,"6,514.40 - 7,235.20",39,23.55 - 25.32
12,Carr-Saunders Hall,"7,827.75",31,9
13,Carr-Saunders Hall,"7,891.65",31,9
14,Carr-Saunders Hall,"5,271.75",31,20
15,Carr-Saunders Hall,"5,644.50",31,20
16,Connaught Hall,"10,906.11",40,9
17,High Holborn Residence,"12,348.80",39,9.5 - 12.6
18,High Holborn Residence,"12,974.40",39,9.5 - 12.6
19,High Holborn Residence,"12,947.20",39,9.5 - 12.6
20,High Holborn Residence,"7,167.20",39,16
21,urbanest Westminster Bridge,NaN,NaN,8.5
22,urbanest Westminster Bridge,NaN,NaN,13.4
23,urbanest Westminster Bridge,NaN,NaN,25.3
24,urbanest Westminster Bridge,NaN,NaN,22.1
25,Lilian Knowles House,NaN,NaN,8 - 14
26,Lilian Knowles House,NaN,NaN,12 - 22
27,Lilian Knowles House,NaN,NaN,21 - 27
28,Passfield Hall,"7,029.00 - 8,360.25",31,6.2 - 15.3
29,Passfield Hall,"8,743.65",31,9
30,Passfield Hall,"4,835.10 - 5,069.40",31,17.6 - 23
31,Passfield Hall,"5,559.30",31,17.6 - 23
32,Passfield Hall,"3,951.15 - 4,281.30",31,31
33,Nutford House,"9,441.36 - 10,501.56",40,6.4
34,Nutford House,"7,309.80",40,6.4
35,Rosebery Hall,"9,628.80 - 10,254.40",39,10.5 - 11
36,Rosebery Hall,"6,555.20",39,15.5 - 17.5
37,Rosebery Hall,"7,208.00",39,17.5
38,The Garden Halls,"10,747.08 - 11,508.75",40,10
39,The Garden Halls,"14,293.17",40,12.60 - 15.50
40,The Garden Halls,"14,814.90 - 14,909.76",40,13 - 15
41,The Garden Halls,"12,521.52",40,9.5
42,Sidney Webb House,"8,844.30 - 9,751.05",40,10.2 - 12.1
43,Sidney Webb House,"11,076.30",40,12.1
44,Sidney Webb House,"11,592.45",40,20.1
45,Sidney Webb House,"13,419.90",40,21.3
46,Sidney Webb House,"13,210.65",40,22.5

In [12]:
df=pd.merge(combined_df1, contract, how='left', left_index=True, right_index=True)
df = df.T.drop_duplicates().T
indices_to_duplicate = range(21, 28)
rows_to_duplicate = df.loc[indices_to_duplicate]
df = pd.concat([df, rows_to_duplicate], ignore_index=True)

df['Contract length'][25] = '39'
df['Contract cost'][25] = '7,727.13 - 9,417.03'

df['Contract length'][51] = '50'
df['Contract cost'][51] = '9,914.59.47 - 12,082.88'

df['Contract length'][26] = '50'
df['Contract cost'][26] = '13,141.84 - 15,114.19'

df['Contract length'][27] = '50'
df['Contract cost'][27] = '15,114.19 - 16,773.44'

df['Contract length'][21] = '39'
df['Contract cost'][21] = '11,123.97 - 12,119.64'

df['Contract length'][47] = '50'
df['Contract cost'][47] = '14,412.50'

df['Contract length'][22] = '39'
df['Contract cost'][22] = '12,224.55 - 12,722.58'

df['Contract length'][48] = '50'
df['Contract cost'][48] = '14,345.00 - 17,345.00'

df['Contract length'][23] = '39'
df['Contract cost'][23] = '£8,856.51 - 9,368.58'

df['Contract length'][49] = '50'
df['Contract cost'][49] = '11,808.50'

df['Contract length'][24] = '50'
df['Contract cost'][24] = '21,001.50 - 22,916.00'

indices_to_drop = [50, 52, 53]
df.drop(indices_to_drop, inplace=True)

In [13]:
row_to_move = df.iloc[47]
df = df.drop(47)
df = pd.concat([df.iloc[:22], pd.DataFrame([row_to_move]), df.iloc[22:]], ignore_index=True)

In [14]:
row_to_move = df.iloc[48]
df = df.drop(48)
df = pd.concat([df.iloc[:24], pd.DataFrame([row_to_move]), df.iloc[24:]], ignore_index=True)

In [15]:
row_to_move = df.iloc[49]
df = df.drop(49)
df = pd.concat([df.iloc[:26], pd.DataFrame([row_to_move]), df.iloc[26:]], ignore_index=True)

In [16]:
row_to_move = df.iloc[50]
df = df.drop(50)
df = pd.concat([df.iloc[:29], pd.DataFrame([row_to_move]), df.iloc[29:]], ignore_index=True)

In [18]:
df.rename(columns={'accomodation_title_x': 'Name'}, inplace=True)
df.rename(columns={'room_type': 'Room Type'}, inplace=True)
df.rename(columns={'even_indexed_types': 'Bathroom Type'}, inplace=True)
df.rename(columns={'price': 'Price(£/week)'}, inplace=True)
df.rename(columns={'Contract cost': 'Contract Cost(£)'}, inplace=True)
df.rename(columns={'Contract length': 'Contract Length(week)'}, inplace=True)
df.rename(columns={'Size approx': 'Size Approximation(m²)'}, inplace=True)
df

,Name,Room Type,Bathroom Type,Price(£/week),Contract Cost(£),Contract Length(week),Size Approximation(m²)
0,College Hall,Single room,Shared bathroom,289.73,"11,547.81",40,12
1,College Hall,Single en suite room,Private bathroom,332.43,"13,249.71",40,14
2,College Hall,Double en suite room,Private bathroom,392.63,"15,649.11",40,17
3,International Hall,Single room,Shared bathroom,266.28,"10,613.16",40,8.95
4,International Hall,Single studio,Private bathroom,294.98-301.28,"11,757.06 - 12,008.16",40,16.4 - 18.9
5,International Hall,Double studio,Private bathroom,321.93,"12,831.21",40,18.9
6,Butler's Wharf Residence,Single room,Shared bathroom,194.60-267.40,"9,702.20 - 13,331.80",50,10
7,Butler's Wharf Residence,Twin room,Shared bathroom,127.40-153.65,"6,351.80 - 7,660.55",50,14
8,Butler's Wharf Residence,Double room,Shared bathroom,278.95,"13,907.65",50,15
9,Bankside House,Single room,Shared bathroom,259.70,"10,091.20",39,12.5
10,Bankside House,Single en suite room,Private bathroom,277.20-297.15,"10,771.20 - 11,546.40",39,15.66 - 17.11
11,Bankside House,Twin en suite,Private bathroom,167.65-186.20,"6,514.40 - 7,235.20",39,23.55 - 25.32
12,Carr-Saunders Hall,Single room,Shared bathroom,257.25,"7,827.75",31,9
13,Carr-Saunders Hall,Single with queen bed,Shared bathroom,259.35,"7,891.65",31,9
14,Carr-Saunders Hall,Twin room,Shared bathroom,173.25,"5,271.75",31,20
15,Carr-Saunders Hall,Twin en suite room,Private bathroom,185.50,"5,644.50",31,20
16,Connaught Hall,Single room,Shared bathroom,273.63,"10,906.11",40,9
17,High Holborn Residence,Single room,Shared bathroom,317.80,"12,348.80",39,9.5 - 12.6
18,High Holborn Residence,Single room with queen bed,Shared bathroom,333.90,"12,974.40",39,9.5 - 12.6
19,High Holborn Residence,Single en suite room,Private bathroom,333.20,"12,947.20",39,9.5 - 12.6
20,High Holborn Residence,Twin en suite room,Private bathroom,184.45,"7,167.20",39,16
21,urbanest Westminster Bridge,Single room,Shared bathroom,285.23-310.76,"11,123.97 - 12,119.64",39,8.5
22,urbanest Westminster Bridge,Single room,Shared bathroom,285.23-310.76,"14,412.50",50,8.5
23,urbanest Westminster Bridge,Single en suite room,Private bathroom,286.90-346.90,"12,224.55 - 12,722.58",39,13.4
24,urbanest Westminster Bridge,Single en suite room,Private bathroom,286.90-346.90,"14,345.00 - 17,345.00",50,13.4
25,urbanest Westminster Bridge,Twin en suite room,Private bathroom,227.09-240.22,"£8,856.51 - 9,368.58",39,25.3
26,urbanest Westminster Bridge,Twin en suite room,Private bathroom,227.09-240.22,"11,808.50",50,25.3
27,urbanest Westminster Bridge,Single studio,Private bathoom,420.03-458.32,"21,001.50 - 22,916.00",50,22.1
28,Lilian Knowles House,Single en suite room,Private bathroom,198.86-242.35,"7,727.13 - 9,417.03",39,8 - 14
29,Lilian Knowles House,Single en suite room,Private bathroom,198.86-242.35,"9,914.59.47 - 12,082.88",50,8 - 14
30,Lilian Knowles House,Single studio,Private bathroom,263.59-303.15,"13,141.84 - 15,114.19",50,12 - 22
31,Lilian Knowles House,One-bed flat,Private bathroom,303.15-336.43,"15,114.19 - 16,773.44",50,21 - 27
32,Passfield Hall,Single room,Shared bathroom,231.00-274.75,"7,029.00 - 8,360.25",31,6.2 - 15.3
33,Passfield Hall,Single en suite room,Private bathroom,287.35,"8,743.65",31,9
34,Passfield Hall,Twin room,Shared bathroom,158.90-166.60,"4,835.10 - 5,069.40",31,17.6 - 23
35,Passfield Hall,Twin en suite room,Private bathroom,182.70,"5,559.30",31,17.6 - 23
36,Passfield Hall,Triple room,Shared bathroom,129.85-140.70,"3,951.15 - 4,281.30",31,31
37,Nutford House,Single room,Shared bathroom,236.88-263.48,"9,441.36 - 10,501.56",40,6.4
38,Nutford House,Twin room,Shared bathroom,183.40,"7,309.80",40,6.4
39,Rosebery Hall,Single room,Shared bathroom,247.80-263.90,"9,628.80 - 10,254.40",39,10.5 - 11
40,Rosebery Hall,Twin room,Shared bathroom,168.70,"6,555.20",39,15.5 - 17.5
41,Rosebery Hall,Twin en suite room,Private bathroom,185.50,"7,208.00",39,17.5
42,The Garden Halls,Single room,Shared bathroom,269.64-288.75,"10,747.08 - 11,508.75",40,10
43,The Garden Halls,Single en suite room,Private bathroom,358.61,"14,293.17",40,12.60 - 15.50
44,The Garden Halls,Single en suite room,Private bathroom,371.70-374.08,"14,814.90 - 14,909.76",40,13 - 15
45,The Garden Halls,Single en suite room (Townhouse),Private bathroom,314.16,"12,521.52",40,9.5
46,Sidney Webb House,Single en suite room,Private bathroom,221.90-244.65,"8,844.30 - 9,751.05",40,10.2 - 12.1
47,Sidney Webb House,3 bedroom flat,Shared bathroom,277.90,"11,076.30",40,12.1
48,Sidney Webb House,Double en suite room,Private bathroom,290.85,"11,592.45",40,20.1
49,Sidney Webb House,Double studio,Private bathroom,336.70,"13,419.90",40,21.3
50,Sidney Webb House,Queen studio,Private bathroom,331.45,"13,210.65",40,22.5

In [19]:
df.to_csv('contract_data.csv', index=False)